lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Logs
logs

# Coverage reports
coverage

# API keys and secrets
#.env.development
#.env.production

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# custom files
test.ts
example.spec.ts
TODO.md

DS_Store